@import "../../../App.scss";

.player {
    .title-box {
        padding: 10px;
        background: #fff;

        p {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0;
            font-family: 'Roboto', sans-serif;
        }
    }
}
